<h1>新着情報</h1>
   <table>
		     <tr>
					 <td><p>コメントコメントコメントコメントコメント</p></td>
				 </tr>
	 </table>

	 <table>
		 <tr>
           <div class="a">
		    	<td><div class="b">桜木町</div></td>
					<td><div class="b">2</div></td>
					<td><div class="b">3</div></td>
          </div>
    </tr>

<div class="a">
					<div class="b"><img class="c" src="assets/a.jpg"></div>
					<div class="b"><img class="c" src="assets/b.jpg"></div>
					<div class="b"><img class="c" src="assets/c.jpg"></div>
</div>
</table>

<br>

<div>
	<h1>物件情報</h1>


<p>スライド追加</p>
<P>コメント</P>


</div>

