                                                                    <html class="noIE" lang="en-US">

                                                                    <head>
                                                                      <title>City</title>
                                                                    </head>
                                                                    <header class="top-header">
                                                                      <div class="container">
                                                                        <div class="row">
                                                                          <div class="col-md-3 col-xs-5 col-sm-4 header-logo">
                                                                            <br>
                                                                            <a href="index.html">
                                                                              <h1 class="logo">City <span class="logo-head">Introduction</span></h1>
                                                                            </a>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    </header>
                                                                    <div id="wrapper">

                                                                      <div id="header" class="content-block">
                                                                        <section class="center">
                                                                          <div class="slogan">
                                                                            City Introduction
                                                                          </div>
                                                                          <div class="secondary-slogan">
                                                                            東京都の街を紹介するサイトです。
                                                                          </div>
                                                                        </section>
                                                                      </div>


                                                                      <div id="about" class="about-us">
                                                                        <div class="container about-sec">
                                                                          <header class="block-heading cleafix">
                                                                            <div class="title-page">
                                                                              <p class="main-header">このサイトでできる事</p>
                                                                              <p class="sub-header">様々な機能があります‼︎</p>
                                                                            </div>

                                                                            <div class="divide50"></div>
                                                                            <div class="row">
                                                                              <div class="col-md-4 text-center">
                                                                                <div class="aboutus-item">
                                                                                  <i class="aboutus-icon fa fa-plane"></i>
                                                                                  <h4 class="aboutus-title">東京の首都を知ることができる</h4>
                                                                                  <p class="aboutus-desc">住みたい街ベスト10を載せています。</p>
                                                                                  <p class="aboutus-desc">その中で気になった街の詳細をみる事ができます。</p>
                                                                                </div>
                                                                              </div>

                                                                              <div class="col-md-4 text-center">
                                                                                <div class="aboutus-item">
                                                                                  <i class="aboutus-icon fa fa-usd"></i>
                                                                                  <h4 class="aboutus-title">イイねやフォローができる。</h4>
                                                                                  <p class="aboutus-desc">街について、投稿している人がいるので、イイねやフォローができます。</p>
                                                                                </div>
                                                                              </div>

                                                                              <div class="col-md-4 text-center">
                                                                                <div class="aboutus-item">
                                                                                  <i class="aboutus-icon fa fa-cutlery"></i>
                                                                                  <h4 class="aboutus-title">自分の気になった街を投稿できる。</h4>
                                                                                  <p class="aboutus-desc">自分自身も気になった場所に対して投稿する事ができます。</p>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                        </div>
                                                                      </div>

                                                                      <div class="container blog-sec">
                                                                        <header class="block-heading cleafix">

                                                                          <div class="title-page">
                                                                            <p class="main-header">こんな街があります</p>
                                                                            <p class="sub-header">少し紹介します</p>
                                                                          </div>
                                                                        </header>
                                                                        <section class="block-body">
                                                                          <div class="row">
                                                                            <div class="col-sm-4 blog-post">
                                                                              <img src="assets/images/bike_water1-1000x600.jpg">

                                                                              <h2>竹の塚</h2>
                                                                              <p>東京足立区にいちするこの場所は、下町溢れる場所で、家賃も低く人気な街になっている。</p>

                                                                            </div>
                                                                            <div class="col-sm-4 blog-post">
                                                                              <img src="assets/images/mac_glasses1-1000x600.jpg">

                                                                              <h2>蒲田</h2>
                                                                              <p>東京大田区にいちするこの場所は、下町溢れる場所になっている昔は、海苔の生産が盛に町だった。</p>
                                                                            </div>
                                                                            <div class="col-sm-4 blog-post">
                                                                              <img src="assets/images/road-1000x600.jpg">
                                                                              <h2>浅草</h2>
                                                                              <p>下町活気がある。昔は、人気な街になっていると聞いた。</p>
                                                                            </div>
                                                                          </div>
                                                                        </section>
                                                                      </div>
                                                                    </div>

                                                                    <div class="content-block parallax" id="parallax">
                                                                      <div class="container">
                                                                        <h3 class="call-action pull-left">良いところがあれば教えて下さい</h3>
                                                                        <a href="#" class="pull-right btn btn-o-white btn-lg">UP ‼︎</a>
                                                                      </div>
                                                                    </div><!-- #parallax -->

                                                                    <div class="content-block" id="testimonials">
                                                                      <div class="container testimonial-sec">

                                                                        <header class="block-heading cleafix">
                                                                          <div class="title-page  pull-left">
                                                                            <p class="main-header">街紹介</p>
                                                                            <p class="sub-header">ON OKrock</p>
                                                                          </div>
                                                                        </header>

                                                                        <section class="block-body">
                                                                          <div class="row">
                                                                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                                                              <!-- Indicators -->
                                                                              <ol class="carousel-indicators">
                                                                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                                                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                                                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                                                              </ol><!-- /.carousel-indicators -->


                                                                              <!-- Wrapper for slides -->
                                                                              <div class="carousel-inner" role="listbox">
                                                                                <div class="item active">
                                                                                  <div class="img-center">
                                                                                    <img class="img-circle circular-img" src="assets/public/images/sation/shinzyuku.jpg">
                                                                                  </div>
                                                                                  <h3>
                                                                                    隣町
                                                                                  </h3>

                                                                                </div><!-- 写真 -->
                                                                                <div class="item">
                                                                                  <div class="img-center">
                                                                                    <img class="img-circle circular-img" src="assets/public/images/02_200x200.png">
                                                                                  </div>
                                                                                  <h3>
                                                                                    長い間逃走していた場所に対して、苦渋の決断をした瞬間だった。
                                                                                  </h3>

                                                                                </div><!-- /.item -->
                                                                                <div class="item">
                                                                                  <div class="img-center">
                                                                                    <img class="img-circle circular-img" src="assets/public/images/03_200x200.png">
                                                                                  </div>
                                                                                  <h3>
                                                                                    花々しい人生なのかもしれない。
                                                                                  </h3>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                          </div>
                                                                        </section>
                                                                      </div>
                                                                    </div>

                                                                    <div class="content-block" id="footer">
                                                                      <div class="container">
                                                                        <div class="row">
                                                                          <div class="col-sm-6 blog-post">

                                                                            <h2 class="footer-block">Have a question?</h2>
                                                                            <p>当サービスについて、ご意見やご感想、改善すべき点などございましたら、こちらからお寄せください。</p>

                                                                            <p>Cityntroductionは、「地方から上京してくる方へのサービス」であるべきと考えています。こんな機能が欲しいなど皆様からの率直なご意見は大歓迎です。
                                                                            </p>
                                                                          </div>
                                                                          <div class="col-sm-6 blog-post">
                                                                            <h2 class="footer-block">Leave us a message</h2>
                                                                            <form action="contact-form.php" id="contactForm" method="post" name="contactform" class="" role="form">
                                                                              <div class="form-group">
                                                                                <input type="text" class="form-control form-control-white" id="name" name="name" placeholder="Your Name" required>
                                                                              </div>
                                                                              <div class="form-group">
                                                                                <input type="email" class="form-control form-control-white" id="email" name="email" placeholder="Enter email" required>
                                                                              </div>
                                                                              <div class="form-group">
                                                                                <textarea class="form-control form-control-white" id="message" name="massage" placeholder="Write Something" required></textarea>
                                                                              </div>
                                                                              <div id="contactFormResponse"></div>
                                                                              <div class="form-group">
                                                                                <input id="cfsubmit" type="submit" class="text-center btn btn-o-white" value="Say Hello">
                                                                              </div>
                                                                            </form>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                    <div class="content-block footer-bottom" id="footer">
                                                                      <div class="container">
                                                                        <div class="row">
                                                                          <div class="col-xs-6">&copy; Copyright City Introduction</div>
                                                                        </div>
                                                                      </div>
                                                                    </div><!-- #footer -->

                                                                    </div>
                                                                    <!--/#wrapper-->

                                                                    </body>

                                                                    <script src="assets/js/jquery-2.1.3.min.js"></script>
                                                                    <script src="assets/js/bootstrap.js"></script>
                                                                    <script src="assets/js/jquery.actual.min.js"></script>
                                                                    <script src="assets/js/jquery.scrollTo.min.js"></script>
                                                                    <script src="assets/js/contact.js"></script>
                                                                    <script src="assets/js/script.js"></script>
                                                                    <script src="assets/js/smoothscroll.js"></script>
                                                                    <script type="text/javascript">
                                                                      jQuery(document).ready(function($) {

                                                                        $(window).scroll(function() {

                                                                          console.log("asdf");

                                                                          if ($(window).scrollTop() > 100) {

                                                                            $('.top-header').addClass('shows');

                                                                          } else {

                                                                            $('.top-header').removeClass('shows');

                                                                          };
                                                                        });

                                                                      });

                                                                      jQuery('.scroll').on('click', function(e) {
                                                                        e.preventDefault()

                                                                        jQuery('html, body').animate({
                                                                          scrollTop: jQuery(this.hash).offset().top
                                                                        }, 1500);
                                                                      });