     <h1>Town-I</h1>

     <div class="a">
       <div class="b"><img class="c" src="assets/images/osakas/glico.jpg"></div>
       <div class="b"><img class="c" src="assets/images/osakas/shinsaibashi.jpg"></div>
       <div class="b"><img class="c" src="assets/images/osakas/osakacastle.jpg"></div>
     </div>

     <%= link_to "Whats Town-I?",  homes_about_path %>